<ActionBar class="action-bar">
  <GridLayout rows="*" columns="2*,5*,*">
    <Image
      src="res://icon"
      class="page-icon"
      row="0"
      verticalAlignment="center"
      col="0"
      stretch="aspectFit"
    ></Image>
    <Image
      src="res://account"
      class="account-icon"
      row="0"
      verticalAlignment="center"
      col="2"
      stretch="aspectFill"
      (tap)="goToProfile()"
    ></Image>
    <Label
      class="text-center action-bar-title"
      row="0"
      col="1"
      verticalAlignment="center"
      textWrap="true"
      text="Check Health"
    ></Label>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout class="page ">
    <StackLayout paddingBottom="30" paddingTop="20">
      <Label class="text-center title" text="Patient Home Screen"></Label>
    </StackLayout>
    <StackLayout paddingBottom="30">
      <Button
              class="btn btn-black"
              (tap)="goToPatientDailySigns()"
              text="Provide Readings from Wearable"
      ></Button>
    </StackLayout>
    <StackLayout>
      <Button
              class="btn btn-black"
              (tap)="goToReadings()"
              text="Create End of History"
      ></Button>
    </StackLayout>
  </StackLayout>

</ScrollView>
