<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
       <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Check Health"></Label>
    </GridLayout>
</ActionBar>
<ScrollView>
    <StackLayout class="page">
        <StackLayout paddingBottom="50" paddingTop="20">
            <Label class="text-center title" text="Login"></Label>
        </StackLayout>
        <StackLayout paddingBottom="30">
            <Button (tap)="goToPatientLogin()" class="btn btn-black" text="Patient"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>


