<ActionBar class="action-bar">
  <GridLayout rows="*" columns="2*,5*,*">
    <Image
      src="res://icon"
      class="page-icon"
      row="0"
      verticalAlignment="center"
      col="0"
      stretch="aspectFit"
    ></Image>
    <Label
      class="text-center action-bar-title"
      row="0"
      col="1"
      verticalAlignment="center"
      textWrap="true"
      text="Check Health"
    ></Label>
  </GridLayout>
</ActionBar>
<Scrollview>
  <StackLayout class="page" marginBottom="20">
    <StackLayout paddingBottom="30" paddingTop="20">
      <Label class="text-center title" text="Profile"></Label>
    </StackLayout>
    <StackLayout *ngIf="!profileModel">
      <ActivityIndicator busy="true"></ActivityIndicator>
    </StackLayout>
    <StackLayout
      marginTop="20"
      marginBottom="20"
      marginLeft="20"
      marginRight="20"
      *ngIf="profileModel"
    >
      <Stacklayout marginBottom="20">
        <Label text="Name" class="text-deep-bold" textWrap="true"></Label>
        <TextField
          class="input input-field"
          isUserInteractionEnabled="false"
          [(ngModel)]="fullname"
        ></TextField>
      </Stacklayout>
      <Stacklayout marginBottom="20">
        <Label text="Email" class="text-deep-bold" textWrap="true"></Label>
        <TextField
          class="input input-field"
          isUserInteractionEnabled="false"
          [(ngModel)]="profileModel.email"
        ></TextField>
      </Stacklayout>
      <Stacklayout marginBottom="20">
        <Label text="Phone" class="text-deep-bold" textWrap="true"></Label>
        <TextField
          class="input input-field"
          keyboardType="phone"
          [(ngModel)]="profileModel.phone"
        ></TextField>
      </Stacklayout>
      <StackLayout marginBottom="20">
        <Button
          class="btn btn-danger"
          text="Update Phone"
          (tap)="onUpdatePhone()"
        ></Button>
      </StackLayout>
    </StackLayout>
    <StackLayout marginBottom="20">
      <Button
              class="btn btn-danger"
              text="Logout"
              (tap)="onLogout()"
      ></Button>
    </StackLayout>
  </StackLayout>
</Scrollview>
